/assets/
composer.lock
vendor
docker-compose.yml
.editorconfig
/.git/
.gitignore
node_modules
package-lock.json
README.md
/nbproject/
.sass-cache/
/.docker/
!/.docker/php/php-ini-overrides.ini
!/.docker/apache/vhost.conf
*.log
/config/settings.local.php
.cache/DoctrineORM
Dockerfile
