

$icon-font-path: '../fonts/';
@import 'bootstrap';
// @import "bootstrap/theme";

$fa-font-path: '../fonts/';
@import 'node_modules/font-awesome/scss/font-awesome.scss';

$intecEntypoPath: '../fonts/';
@import 'intec-entypo/entypo.scss';

@import 'intec-theme.scss';
